#canvas{
  border: 1px solid black;
}

#title{
  background-color: yellow;
  font-family: 'Press Start 2P';
}

#titlescreen{
  display: none;
  font-size: 2em;
  position: relative;
  text-align: center;
}

#content{
  padding-top: 5%;
}

#fudge{
  padding-top: 5%;
}

#startbtn, .modalbtn{
  font-family: 'Press Start 2P';
  width: 30%;
  background-color: skyblue;
}

#gobtn{
  font-family: 'Press Start 2P';
  width: 80%;
  background-color: skyblue;
  font-size: 1em;
}

#gonew{
  font-family: 'Press Start 2P';
  width: 80%;
  background-color: skyblue;
  font-size: 1em;
}

#players{
  display: none;
}

.titles{
  text-align: center;
  font-size: 0.8em;
  padding-top: 5%;
}

.nameslist{
  list-style-type: none;
  padding-top:2em;
}

#welcomeback{
  display: none;
}

#newplayer{
  display: none;
  margin: 10%;
}

input[type=text]{
  font-family: 'Press Start 2P';
  position: relative;
  margin:auto 0;
  width: 100%;
  font-size: 1.5em;
}

.titletext{
  font-size: 1em;
  text-align: center;
  margin-top: 0;
}

h5{
  text-align: center;
  font-family: 'Press Start 2P';
}
